body {
    background-color: #E2f1ff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}

.header {
    background-color: #E2f1ff;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 10rem;

}
.container-2 {
    background-color: #E2f1ff;
    width: 540px;
    height: 180px;
    display: flex;
    gap: 2rem;
}

.container-2 p {
    font-size: 13px;
    color: #637b8c;
    font-weight: bold;
    margin-bottom: 30px;
}

.container-2 h1 {
    font-size: 24px;
}

.div-3 h1 {
    font-weight: 400;
}

.div-3 {
    margin-left: 5rem;
}