body {
    background-color: #E2f1ff;
}

.container-2 {
    background-color: #E2f1ff;
    width: 540px;
    height: 212px;
    margin-top: 135px;
    margin-left: 134px;
    display: flex;
    justify-content: space-between;
}

.container-2 p {
    font-size: 13px;
    color: #697E90;
}
